<footer>
    <div class="container">
        <div class="footer-columns">
            <ul class="footer-links">
                <li><a href="https://crownchronicles.herokuapp.com/">Home</a></li>
                <li><a href="https://crownchronicles.herokuapp.com/gameplay.html">Gameplay</a></li>
                <li><a href="https://crownchronicles.herokuapp.com/development.html">Development</a></li>
                <li><a href="https://crownchronicles.herokuapp.com/creators-corner.html">Creator's Corner</a></li>
            </ul>
            <ul class="footer-links">
                <li>
                    <a target="_blank" href="https://twitter.com"><i class="fab fa-facebook"></i> Facebook</a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com"><i class="fab fa-twitter"></i> Twitter</a>
                </li>
                <li>
                    <a target="_blank" href="https://youtube.com"><i class="fab fa-discord"></i> Discord</a>
                    <li>
                        <a target="_blank" href="https://youtube.com"><i class="fab fa-youtube"></i> Youtube</a>
                    </li>
            </ul>
        </div>
        <p class="copyright">© 2019 Crown Chronicles</p>
    </div>
</footer>