<div class="container">
    <div class="company-name">
        <a href="{{ site.url }}/"><img src="{{ site.url }}/images/logo.svg" alt="Crown Chronicles Logo" width="95" height="33" /></a>
    </div>
    <nav>
        <a href="{{ site.url }}{{ site.baseurl }}">Home</a>
        <a href="{{ site.url }}{{ site.baseurl }}gameplay.html">Gameplay</a>
        <a href="{{ site.url }}{{ site.baseurl }}development.html">Development</a>
        <a href="{{ site.url }}{{ site.baseurl }}creators-corner.html">Creator's Corner</a>
    </nav>
</div>